body {
  margin: 0;
}
.container {
  width: 300px;
  height: 800px;
  background: #eee;
  overflow: hidden;
  position: relative;

  .item {
    // height: 100px;
    // width: 100px;
    background: sandybrown;

    position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    margin: auto;
  }
}
